@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
  min-height: 100%;
  background-color: #26323d;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #26323d;
  position: relative;
}
